@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);

    --Very-Light-Gray: hsl(0, 0%, 98%);

    --Font-size: 15px;
    --font-family: 'Poppins', "sans-serif";
    --Font-Wgt-200: 200;
    --Font-Wgt-400: 400;
    --Font-Wgt-600: 600,
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    background: var(--Very-Light-Gray);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
    max-width: 1100px;
}

.headings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;

}

.h1-1 {
    font-weight: 200;
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);
}

.h1-2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);

}

.headings-container p {
    text-align: center;
    font-size: var(--Font-size);
    color: var(--Grayish-Blue);
    margin-top: 1rem;
}

.cards-container {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

.col {
    display: grid;
    align-content: center;
    gap: 3rem;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem -0.5rem var(--Grayish-Blue);
    display: grid;
}

.blue {
    border-top: .5rem solid var(--Blue);
}

.red {
    border-top: .5rem solid var(--Red);
}

.orange {
    border-top: .5rem solid var(--Orange);
}

.cyan {
    border-top: .5rem solid var(--Cyan);
}

.cards h3 {
    color: var(--Very-Dark-Blue);
}

.card p {
    font-size: var(--Font-size);
    color: var(--Grayish-Blue);
    margin: 1rem 0;

}

img {
    place-self: end;
}

@media(min-width:700px) {
    .container {
        margin: 3rem;
    }

    .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .h1-1 {
        font-size: 2.5rem;
    }

    .h1-2 {
        font-size: 2.5rem;
    }

}